@import '../../styles/global/mixins.scss';

$borderSize: 1px;

.hamburger {
    height: 4rem;
    width: 4rem;
    background: var(--primary);

    // removes dotted line on firefox button focus - only acceptable due to background pop on focus
    &::-moz-focus-inner {
        border: 0;
    }

    &:hover,
    &:focus,
    &:active {
        cursor: pointer;
    }
}

.hamburger[data-open="true"] {
    background: var(--main-bg);
}

.icon {
    fill: var(--highlight);
    width: 100%;
    height: 100%;
    border: none;
}
