@import '../../styles/global/typography.scss';
@import '../../styles/global/mixins.scss';

// FIXME: make an actual logo instead of this nonsense
.box {
    display: grid;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--primary);
    position: absolute;
    z-index: 1000;
    // TODO: is there a better way of doing this? (without splitting the element?)
    // &::first-line and background hacks didn't work - as the background can't bleed over the line
    // _could_ be a gross js thing
    width: 9.1rem;
    height: 4.2rem;
    margin: -0rem -0rem;
}


.heading {
    @include sans-serif;
    @include font('m');
    @include font-weight('x-bold');
    display: inline;
    grid-row: 1;
    grid-column: 1;
    line-height: 2rem;
    letter-spacing: -0.10rem;
    color: var(--highlight);
    z-index: 1001;
    position: absolute;
    padding: 0.05rem;
    padding-right: 0.3rem; // gross, but helps with logo detail
}


.link {
    text-decoration: none;
    outline: none;

    &:hover,
    &:focus,
    &:active {
        .box {
            background-color: var(--highlight);
        }

        .heading {
            color: var(--primary);
        }
    }
}
