@import '../../styles/global/tokens/tokens.scss';
@import '../../styles/global/typography.scss';

$animationSpeed: 0.22s;

.sidebar {
    height: 100vh;
    width: 100vw;
    background: var(--primary);
    z-index: 5000;
    top: 0;
    right: 0;
    position: fixed;
    transform: translate3d(100%, 0, 0);
    visibility: hidden; // stops tab navigation to offscreen element
    transition: visibility $animationSpeed linear, transform $animationSpeed linear;
}

.sidebar[data-open="true"] {
    visibility: visible;
    transform: translate3d(0, 0, 0);
}

.sidebar ul {
    @include margin-horizontal('m');
    list-style: none;
    padding-left: 0;
}

.sidebar li {
    margin-bottom: 1rem;
    margin-top: 100px;
}

.sidebar li a {
    @include sans-serif;
    @include font('l');
    @include font-weight('x-bold');
    color: var(--main-bg);
    text-decoration: none;
    text-transform: uppercase;
    // letter-spacing: -0.075em;
    // font-weight: 900;
    // @include mono;
    // @include font('l');
    // text-decoration: none;
    // text-decoration-color: var(--highlight);
    // text-decoration-thickness: 0.5rem;
    // : 0.5rem solid var(--highlight);


    // .textBackground {
    // line-height: 7.4rem;
    // letter-spacing: -0.5rem;
    // overflow: hidden;
    // user-select: none;
    // opacity: 1;
    // color: transparent;
    // -webkit-text-stroke: 0.5px var(--main-bg);

    // }
}

.box {
    @include margin('m');
    background-color: var(--main-bg);
}

.heading {
    @include margin('m');
    color: var(--highlight);
    display: inline-block;
}
